.color-well {
  width: 630px;
  margin: 0 auto;
}

.color-box{
  border: 1px solid #000;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 4px;
}

p.color-name{
  font: 10px arial, sans-serif;
  color: #a9a9a9;
  margin: 0 auto;
  position: absolute;
  padding: 21px 5px;
  word-break: break-all;
  display: none;
}